* ,*::before,*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --background-color:#2d2d2d;
    --foreground-color:#ffffff;
}

body{
    font-family: "Roboto", sans-serif;
}

.main{
    background-color: var(--background-color);
    color:var(--foreground-color);
    width:100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-title{
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
    padding:10px 0;
}

.palindrome-definition-container{
    width:min(100vw,400px);
    padding:20px;
    /* border:2px solid green; */
    background-color: rgb(48, 80, 197);
    border-radius: 12px;
    margin-bottom: 20px;
     
}
.icon-holder{
    color:rgb(249, 112, 7);
    margin-right:5px;
}
.palindrome-definition{
    font-size: 1.5rem;
}

.palindrome-examples{
    width:min(100vw,400px);
    padding:20px;
    text-align: center;
    background-color:darkcyan;
    font-size: 1.3rem;
    border-radius: 5px;
    margin-bottom: 20px;
}

.palindrome-examples p{
    font-weight: bold;
    font-size: 1.6rem;
}
.palindrome-examples li{
    list-style: none;
    
}

.palindrome-checker-div{
    width:min(100vw,400px);
    padding:20px;
    background-color: white;
    color:black;
    border-radius:12px;
    box-shadow: 0 5px 4px rgb(81, 144, 131);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.palindrome-checker-div label{
    font-size: 1.2rem;
    margin-bottom: 20px;
   
}
.text-input{
    height: 30px;
    width:250px;
    margin: 12px;
    border:2px solid rgb(48,90,197);
    border-radius:5px;
    text-align: center;
    font-size: 1.2rem;

}
#check-btn{
    padding:.35em .45em;
    background-color:rgb(81, 144, 131);
    color:#fff;
    border:none;
    border-radius: 5px;
    font-size: 1.1rem;

}